Django==1.7.1
Markdown==2.5.2
Pillow==2.6.1
PyYAML==3.11
Pygments==2.0.1
Werkzeug==0.9.6
argparse==1.2.1
django-appconf==0.6
django-bower==5.0.1
django-compressor==1.4
django-extensions==1.4.9
djangorestframework==3.0.2
hamlpy==0.82.2
pytz==2014.10
six==1.8.0
wsgiref==0.1.2
