-# App script
-load staticfiles
%script{src: "{% static 'js/quick.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/quick.config.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/quick.routes.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/accounts/accounts.module.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/accounts/services/account.service.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/accounts/controllers/account.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/accounts/controllers/account-settings.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/authentication/authentication.module.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/authentication/services/authentication.service.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/authentication/controllers/register.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/authentication/controllers/login.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/layout/layout.module.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/layout/controllers/index.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/layout/controllers/navbar.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/posts/posts.module.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/posts/services/posts.service.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/posts/directives/posts.directive.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/posts/directives/post.directive.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/posts/controllers/posts.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/posts/controllers/new-post.controller.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/utils/utils.module.js' %}", type: "text/javascript"}
%script{src: "{% static 'js/utils/services/snackbar.service.js' %}", type: "text/javascript"}
