-extends 'html_blank.haml'
-load i18n
-load compress
-load staticfiles

-block site_styles
  -include 'site_styles.haml'

-block site_scripts
  -include 'site_scripts.haml'

-block quick_body

  -block quick_header
    -include 'navbar.haml'

  .container<
    -block quick_content

  -block quick_footer

  -block app_scripts
    -include 'app_scripts.haml'



