!!! 5
%html><
  %head<
    -spaceless
      -load i18n
      -load compress
      -load staticfiles
      -block quick_title_root
        %title<
          {% block quick_title %}{% block trans %}Quick Project{% endblock trans %}{% endblock quick_title %}
      -block quick_meta
        %meta{charset: 'utf-8'}<
        %meta{http-equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1'}<
        %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}<
        %meta{name: 'author', content: '{% block quick_meta_author %}{% endblock %}'}<
        %meta{name: 'description', content: '{% block quick_meta_description %}{% endblock %}'}<
        %meta{name: 'robots', content: '{% block quick_meta_robots %}all{% endblock %}'}<

        -block favicon
          %link{rel: 'shortcut icon',
            href: '{% static "img/favicon.ico" %}',
            type: 'image/x-icon'}><

        -compress css
          -block styles
            -block site_styles
            -block page_styles

        -block site_styles_no_compression

        - compress js
          -block site_scripts
          -block page_scripts

        -block site_scripts_no_compression

        %body{ng-app:'{% block quick_ng_app %}thinkster{% endblock %}'}<
          <base href="/" />
          -block quick_body

            -compress js
              -block app_scripts

            -block app_scripts_no_compression